/* HERO */
.hero {
  padding-top: 45px;
}

.hero .hero__title {
  font-weight: 400;
  font-size: 96px;
  line-height: 110%;
  color: var(--title-color);
}

.hero .hero__subtitle {
  margin: 10px 60px 62px 0;
  display: inline-block;
  font-weight: 400;
  font-size: 64px;
  line-height: 110%;
  color: var(--title-color);
}

.hero .hero__text {
  max-width: 246px;
  display: inline-block;
  font-size: 16px;
  line-height: 140%;
  color: #303030;
}

.hero .hero__image {
  position: relative;
}

.hero .hero__image button {
  width: 260px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  border-radius: 10px;
  background: var(--accent-color);
  color: var(--white-color);
}

/* ABOUT */
.about {
  padding-top: 100px;
}

.about__wrapper {
  display: grid;
  grid-template-columns: auto min(362px, 100%);
}

.about__image {
  padding-top: 20px;
}

.about .about__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: var(--title-color);
}

.about .about__description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--main-text);
}

.about .about__btn {
  width: min(360px, 100%);
  height: 50px;
  margin-top: 87px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}

/* BANNER */
.banner {
  padding-top: 120px;
}

.banner .banner__wrapper {
  display: block;
  padding: 50px 30px 50px 57px;
  display: grid;
  grid-template-columns: auto 350px;
  border-radius: 10px;
  background-image: url("../public/img/main/banner/banner_bg.png");
  background-repeat: no-repeat;
}

.banner .banner__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: var(--white-color);
}

.banner .banner__text {
  max-width: 377px;
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--white-color);
}

.banner .banner__form {
  padding: 40px 30px;
  border-radius: 10px;
  background-color: var(--white-color);
}

.banner__form .form__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #303030;
}

.banner__form .form__name,
.banner__form .form__phone {
  width: 100%;
  margin-top: 10px;
  display: block;
  padding: 12px 15px 13px 15px;
  border-radius: 5px;
  background: #d9d9d9;
}
.banner__form .form__name input::placeholder,
.banner__form .form__phone input::placeholder {
  color: var(--gray-color);
}

.banner__form .form__submit {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: var(--accent-color);
  color: var(--white-color);
}
.banner__form .form__privacy {
  font-size: 14px;
  line-height: 140%;
  color: #d9d9d9;
}

/* PROJECTS */
.projects {
  padding-top: 100px;
  position: relative;
}

.projects__title {
  display: inline-block;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: var(--title-color);
}
.projects__text {
  max-width: 383px;
  margin-left: 260px;
  vertical-align: bottom;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.projects .projects__gallery {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 400px 745px;
  gap: 15px;
}
.projects__gallery > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery__btn {
  width: min(400px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding: 14px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  text-align: center;
}

.projects #projects-modal {
  width: 740px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
}
.projects #projects-modal::-webkit-scrollbar {
  width: 12px;
}
.projects #projects-modal::backdrop {
  background-color: rgba(241, 241, 241, 0.8);
}

.projects #projects-modal .modal__wrapper {
  height: 100%;
  max-height: 100%;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
}
.projects #projects-modal .modal__content {
  max-width: 402px;
  margin-left: auto;
  margin-right: auto;
}

.projects #projects-modal .modal__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: var(--title-color);
}

.projects #projects-modal .modal__subtitle {
  line-height: 140%;
}
.projects #projects-modal .modal__description {
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  line-height: 140%;
  color: var(--gray-color);
}

.projects #projects-modal .modal__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects #projects-modal .modal-form {
  margin-top: 15px;
}

.modal-form .modal-form__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: var(--title-color);
}

.modal-form .modal-form__name,
.modal-form .modal-form__phone {
  width: 100%;
  margin-top: 10px;
  padding: 19px 15px;
  display: block;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.modal-form .modal-form__name input::placeholder,
.modal-form .modal-form__phone input::placeholder {
  color: var(--gray-color);
}

.modal-form .modal-form__submit {
  width: 100%;
  height: 60px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: var(--white-color);
}

.modal-form .modal-form__privacy {
  max-width: 230px;
  display: inline-block;
  font-size: 12px;
  line-height: 140%;
  color: #d9d9d9;
}

.modal-project__close-btn {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 20px;
  right: 20px;
  translate: 50% -50%;
  border-radius: 50%;
  background-color: var(--gray-color);
}

.modal-project__close-btn div {
  width: 9px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: #f1f1f1;
}
.modal-project__close-btn div:first-of-type {
  rotate: 45deg;
}
.modal-project__close-btn div:last-of-type {
  rotate: -45deg;
}

.swiper-project {
  overflow: hidden;
  position: relative;
}
.swiper-project .swiper-wrapper {
  display: flex;
}
.swiper-project .swiper-slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.swiper-project-button-prev,
.swiper-project-button-next {
  width: 26px;
  height: 26px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  position: absolute;
}

.swiper-project-button-prev:hover,
.swiper-project-button-next:hover {
  background-color: var(--white-color);
  transition: background-color 150ms ease-in-out;
}

.swiper-project-button-prev {
  top: 50%;
  left: 45px;
  translate: 0 -50%;
}

.swiper-project-button-next {
  top: 50%;
  right: 45px;
  translate: 0 -50%;
}

.swiper-project-button-prev::after {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -25% -50%;
  z-index: 2;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  rotate: 45deg;
}

.swiper-project-button-next::after {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  right: 50%;
  translate: 25% -50%;
  z-index: 2;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  rotate: -135deg;
}
.swiper-project-button-prev:hover::after,
.swiper-project-button-next:hover::after {
  border-color: var(--gray-color);
  transition: border-color 150ms ease-in-out;
}

@media screen and (max-width: 1180px) {
  .banner .banner__wrapper {
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  .banner .banner__title {
    font-size: 24px;
    line-height: 130%;
  }
  .banner .banner__form {
    margin-top: 20px;
    padding: 20px 16px;
  }

  .projects .projects__gallery {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .projects .projects__gallery > div:last-of-type {
    display: none;
  }
  .projects__text {
    display: none;
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .hero {
    padding-top: 10px;
  }
  .hero .hero__title {
    font-family: var(--second-family);
    font-size: 48px;
  }
  .hero .hero__subtitle {
    margin: 0;
    display: block;
    font-family: var(--second-family);
    font-size: 48px;
  }
  .hero .hero__text {
    margin-top: 15px;
    margin-bottom: 90px;
  }
  .hero .hero__image button {
    translate: -50% -150%;
  }
  .hero .hero__image img {
    min-height: 145px;
  }

  .about {
    padding-top: 60px;
  }
  .about__wrapper {
    display: grid;
    grid-template-columns: auto;
  }
  .about__image {
    display: none;
  }
  .about .about__btn {
    margin-top: 15px;
  }

  .banner .banner__wrapper {
    padding: 25px 8px;
  }
  .banner .banner__title {
    margin-top: 0;
  }

  .projects {
    padding-top: 60px;
  }
  .projects #projects-modal {
    height: fit-content;
    padding: 25px 10px;
  }

  .swiper-project-button-prev {
    left: 15px;
  }

  .swiper-project-button-next {
    right: 15px;
  }

  .projects #projects-modal .modal__wrapper {
    padding: 25px 10px 20px 10px;
  }
  .projects #projects-modal .modal__title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 164%;
  }
  .modal-form .modal-form__title {
    font-size: 20px;
    line-height: 140%;
  }
}
